<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about-mf pt-4 my-4">
    <div class="container-lg">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="about-text mb-4">
                    After I was introduced to my first Linux distribution some years back, I developed a deep passion for software
                    development and open source community. Since then, a day has not passed where I have failed to write
                    some form of code. I look forward to bringing the same kind of fire to the right community.
                    I am currently proficient in Ruby, Rails, HTML, CSS, JavaScript, and React.

                      <br>
                      <hr>
                      <div class="about-languages">
                      <strong class="text-danger">Languages: </strong> HTML, CSS/SASS, JavaScript, Ruby, Dart  <br>
                      <strong class="text-danger">Frameworks and libraries:</strong>  Bootstrap, UI Kit, React, Ruby on Rails, Flutter <br>
                      <strong class="text-danger">Testing:</strong>  RSpec, Capybara, Jest <br>
                      <strong class="text-danger">Databases:</strong>  PostgreSQL, MySQL, SQLite3 <br>
                      <strong class="text-danger">Other:</strong>  Netlify, Git version control system, Linux, Heroku, Pair Programming <br>
                      </div>
                    
                    <br>
                    <br>
                    Call me, let's leave a ripple in the ocean of time.
                  </p>
                  <p class="lead">

                  </p>
                  <p class="lead">

                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img work-box">
                      <div class="work-img">
                      <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/images/passport4.jpg" class="href">
                        <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/images/passport4.jpg", class: "vendor-box img-fluid b-shadow-a", alt: "User passport picture"%>
                      </a>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Kekeli Dogbevi Jiresse</span></p>
                      <p><span class="title-s">Profile: </span> <span>Full-Stack Solfware Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>kbooster17@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(+233)546249862</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf mt-4">
                  <p class="title-s">Skills</p>
                  <span>HTML</span> <span class="float-right">100%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="float-right">100%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>RUBY</span> <span class="float-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>


                  <span>PHP</span> <span class="float-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="float-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              Here are some of my most recent works!
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/zelda_fan_page.gif"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/zelda_fan_page.gif", alt: "zelda--fan-page", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"><a href="https://github.com/kelibst/zelda-fan-page"> The legend of Zelda Fan page </a></h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://zelda-community.herokuapp.com/" target="_blank"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/social-media.png"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/social-media.png", alt: "zelda--fan-page", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"> <a href="https://github.com/kelibst/members-only"> Social Media App from Microverse </a></h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://secure-beyond-17280.herokuapp.com/"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/screenshot.gif"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/screenshot.gif", alt: "NewsWeek page clone", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"><a href="https://github.com/kelibst/ninjaskrill"> Ninja Skrill </a> </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Jul. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://sleepy-hoover-a0d80e.netlify.app/"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/javascript-app.png"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/javascript-app.png", alt: "zelda--fan-page", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"><a href="https://github.com/kelibst/JavscriptMovieApp">JavaScript Movie app </a></h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://keen-bardeen-5182dc.netlify.app/"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/library_project.gif"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/library_project.gif", alt: "zelda--fan-page", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title"><a href="https://github.com/kelibst/javascript_library">The Nerd's Library</a></h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">10 Aug. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://dazzling-aryabhata-a680c0.netlify.app/"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/ghana_food.gif"
              data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <%= image_tag "https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/projects/ghana_food.gif", alt: "zelda--fan-page", class: "img-fluid"%>
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a href="https://github.com/kelibst/ghana-foods"> Ghana Foods : Restaurant page</a>
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">10 Aug. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a class="shadow-sm" href="https://unruffled-jackson-976106.netlify.app/"> <i
                        class="fa text-dark fa-plus-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->


  <!-- ======= Contact Section ======= -->
  <section id="message" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/images/bg-contact.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6 mx-auto text-center  justify-content-center mb-5">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>

                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Send me a quick email. If this is urgent, kindly send me a text message instead.
                      The internet is quick a busy place I don't lose important emails in the crowd.
                    </p>
                    <ul class="list-ico">

                      <li><i class="fa fa-phone-alt"></i> (+233) 5462-498-62</li>
                      <li><i class="fa fa-envelope"></i> kbooster17@gmail.com</li>
                    </ul>


                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href=""><span class="ico-circle"><i class="fab fa-facebook"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="fab fa-twitter"></i></span></a></li>
                      <li><a href=""><span class="ico-circle"><i class="fab fa-linkedin"></i></span></a></li>

                    </ul>
                  </div>
                  <h5 class=" text-center mt-5">
                    <%= link_to "Send me a Message", new_letter_path, class: "custom-btn custom-btn-text"%>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main>