<div class="container-md">

<div class="col-md-8 mx-auto">


<p id="notice"><%= notice %></p>
<p class="notice-special">
  The message you send will only be visible here. If the message is important, kindly call.
</p>
<h5 class="title-left my-5 text-center font-weight-bolder">All Messages</h5>

<% @letters.each do |letter| %>
<div class="card my-3">

  <div class="card-body">
    <h5 class="card-title">From: <%= letter.name %> <br>
      Email: <%= letter.email %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      Title: <%= letter.title %>
    </h6>
    <p class="card-text">
      <%= letter.description %>
    </p>
    <% link_to 'Show', letter, class: "card-link" %>
  </div>
</div>
<% end %>

<br>
<div class="my-5">
  <%= link_to 'New Letter', new_letter_path, class: "custom-btn custom-btn-text" %>
</div>
</div>
</div>