<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @letter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @letter.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @letter.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @letter.description %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
