<!DOCTYPE html>
<html>
  <head>
    <title>Kekeli Dogbevi Jiresse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Kekeli Dogbevi Jiresse personal portfolio page" name="descriptison">
    <meta content="portfolio of Dogbevi Kekeli Jiresse" name="keywords">



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="bg-light" id="page-top">
  <%= render 'layouts/header'%>
    <%= yield %>
  <%= render 'layouts/footer'%>
  </body>
</html>
